.App {
  text-align: center;
   background-color: rgba(243,248,255,255);   
   padding-top: 30px;
   padding-left: 200px;
  width: 1270px;
  height: 565px;   
  position: absolute;

 
 /* display: flex;
 flex-direction: row; */

}
